#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#resetCamera {
    position: absolute;
    top: 710px;
    left: 10px;
	width: 170px;
	height: 55px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	transition-duration: 0.2s;
}
#resetCamera:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

#rollBall {
    position: absolute;
    top: 775px; 
    left: 10px; 
	width: 170px;
	height: 55px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	transition-duration: 0.2s;
}
#rollBall:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

#resetBall {
    position: absolute;
    top: 750px; 
    left: 10px; 
}

#powerBar {
    position: absolute;
    top: 710px; 
    left: 200px; 
	white-space: pre;
	border-style: dashed;
	width: 500px;
}
#aim {
    position: absolute;
    top: 770px; 
    left: 200px; 
	white-space: pre;
	border-style: dashed;
	width: 500px;
}
#scoreCard {
    position: absolute;
    top: 870px; 
    left: 10px; 
	border-style:solid;
	border-width: 1.5px;
}
.scorecardButton {
	width: 65px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border: 2px solid #555555;
	transition-duration: 0.2s;
}
.scorecardButton:hover {
	background-color: rgb(65, 65, 65);
	color:white;
	cursor: pointer;
}
.labels {
	font-weight: 600;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.table {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hole9:hover {
	background-color: rgb(65, 65, 65);
	color:white;
	cursor: pointer;
}
#holeLabel {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 34px;
	color: white;
	width: 150px;
	position: absolute;
    top: 660px; 
    left: 20px; 
}
/**
* slider design from w3schools: https://www.w3schools.com/howto/howto_js_rangeslider.asp
*/
.slider:hover {
	opacity: 1;
  }
  .slider {
	-webkit-appearance: none;
	width: 300px;
	height: 15px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider:hover {
	opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 35px;
	background: #aa5404;
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #aa5404;
	cursor: pointer;
  }
